<%= form_for :discussion, url: discussions_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <%= hidden_field_tag :topic_id, params[:topic_id] %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
