<!DOCTYPE html>
<head>
</head>
<body>
    <h1>Discussion: <%= @discussion.name %></h1>
    <h3><%= @discussion.description %> </h3>
    </br>
        <% @comments.each do |comment| %>
            <hr>
            <h3>Author: <%= User.find(comment.user_id)[:name]%></h3>
            <p>Body: <%= comment.body %></p>
            <hr>
        <% end %>

        <% if session[:user_id] %>

    <h3><%= link_to "Write a Comment!", new_comment_path(discussion_id: @discussion.id) %></h3>
    <% end %>

    <%= link_to "discussion", category_path %>
</body>
</html>
