<!DOCTYPE html>
<head>
</head>
<body>
    <h1>Topic: <%= @topic.name %></h1>
    <h3><%= @topic.description %> </h3>
    </br>
        <% @discussions.each do |discussion| %>
            <hr>
            <h3><%= link_to discussion.name, discussion_path(id: discussion.id) %></h3>
            <p><%= discussion.description %></p>
            <hr>
        <% end %>

        <% if session[:user_id] %>

    <h3><%= link_to "Create a Discussion (thread)!", new_discussion_path(topic_id: @topic.id) %></h3>
    <% end %>

    <%= link_to "Back", category_path %>
</body>
</html>
