<!DOCTYPE html>
<head>
</head>
<body>
    <h1>Category: <%= @category.name %></h1>
    <h3><%= @category.description %> </h3>
    </br>
        <% @topics.each do |topic| %>
            <hr>
            <h3><%= link_to topic.name, topic_path(id: topic.id) %></h3>
            <p><%= topic.description %></p>
            <% if User.find(session[:user_id])[:email] == "VjiaoBlack@gmail.com" %>
                <%= link_to "Delete", topic_path(topic, category_id: @category.id), method: :delete %>
            <% end %>
            <hr/>
        <% end %>

        <% if session[:user_id] %>

    <h3><%= link_to "Create a Topic!", new_topic_path(category_id: @category.id) %></h3>
<% end %>
    <%= link_to "Back", forum_path %>
</body>
</html>
